@model VisionTake.Entities.TblPatent

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Patents</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action()"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Forms
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Patents</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- begin row -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <h4 class="card-title">Adding New Patents</h4>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Patents Name</label>
                        <div class="col-sm-10">
                            <input asp-for="PatentName" type="text" placeholder="Patents Name" class="form-control autonumber">
                            <span class="font-14 text-muted">e.g. "Here Write Your Patents Name"</span>
                        </div>
                    </div>

                    <div class="form-group row">

                        <label class="custom_file_label" for="FLFrontImage">Select Image</label>
                        <input class="form-control custom_input_file" name="MyProperty" id="FLFrontImage" type="file"
                               onchange="document.getElementById('FrontImagePrv').src = window.URL.createObjectURL(this.files[0])" />
                        <img id="FrontImagePrv" src="" width="150" height="150" style="border:1px; margin-top:20px; margin-left:190px" />
                    </div>

                    <button class="btn btn-square btn-success center" type="submit"> Save </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".custom_input_file").("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom_file_label").addClass("selected").html(fileName);
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
