
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Chairman</h2>
            <ol>
                <li><a href="@Url.Action("Index","Home")">Message</a></li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">
        <div class="row content">
            <div class="col-lg-6" data-aos="fade-right">

                <img class="col-lg-12 col-sm-12 col-md-12" src="~/theme/assets/img/Vision logo2-01.jpg" />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
                <h2 style="text-align:center">CEO Message</h2>
                <p>
                    <b>VisionTeke Medical Imaging Systems Co., Ltd</b>
                    was established in Pakistan with an R & D centers (research and development center). VisionTeke Medical Imaging Systems Co., Ltd is a high-tech and big data enterprise, focusing on the artificial intelligence (AI), computer neural network, Virtual mixed reality and other technologies in the field of precision medicine for clinical application research.

                    <br />
                    <br />
                    <br />
                    <b>At present, VisionTeke Medical Imaging Systems Co., Ltd</b> has obtained a batch of clinical practical and high-quality research achievements in the field of 3D visualization, obtained many intellectual property rights and product registration certificate, more than 500 hospitals have established cooperative relations with the company, 80% of them are Third-class hospitals, having the leading position in the field of 3d visualization of human.
                    <br />
                    <br />
                    <br />

                    <b>Main business AI+MR (depend on 5G internet) Building 3D Medical Images.</b> Building perspective model cloud data platform. Tumor treatment (Telemedicine) precision therapy.

                    <br />
                    <br />
                    <br />
                    <b>Core Products 1. Building the perspective model service; 3D printing and 3D modeling service.</b> 2. Sales of preoperative planning, Intraoperative guidance system, Postoperative data application etc.
                    <br />
                    <br />
                    <br />

                    <b>Projects: Its great pleasure to be part of BRMDIA,</b> we would like to take the opportunity to display our medical Imaging Systems products for exhibition. We would like to cooperate with international companies, hospitals, medical device companies, medical universities & enterprises to establish state of the art systems, including training centers, research centers & digitalize the hospitals and medical institutes using VisionTeke Medical Imaging Systems. We are looking forward to sign MoU’s & establish cooperation with the esteemed organizations participating in the Belt & Road Medical Device Innovation Alliance.

                    <br />
                    <br />
                    <br />
                    <b>
                        CEO<br />
                        Dr. Muhammad Shahbaz<br />
                        Mobile : +8615550410007 <br />
                        Email: iosurg@gmail.com<br />
                    </b>
                </p>
            </div>
        </div>

    </div>
</section>